@import "tailwindcss";


@font-face {
  font-family: "Benzin";
  src: url("/fonts/Benzin-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}


@theme {
  --font-benzin: "Benzin", sans-serif;
  --font-gilroy: "Gilroy", sans-serif;

  --color-brand-blue: #3805F2;
  --color-brand-dark: #131313;
}


body {
  font-family: var(--font-gilroy);
  background-color: var(--color-brand-dark);
  color: #ffffff;
}